<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :expertise %>
    <%= f.input :seeking %>
    <p>
    <label class="string optional control-label" for="profile_expertise">To be my:
    </p>
    </label>
    <div class="form-group string optional profile_expertise">
    <%= f.collection_select :category_id, Category.all, :id, :partner_role, {promt: "Choose a category" }, input_html: { class: "dropdown-toggle" }, class: "form-control" %>
    </div>
    <%= f.input :about %>
    <%= f.input :experience %>
    <%= f.input :prefer_age %>
    <%= f.input :equity_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
