<h1>Listing profiles</h1>

<table>
  <thead>
    <tr>
      <th>Expertise</th>
      <th>Seeking</th>
      <th>Partner role</th>
      <th>About</th>
      <th>Experience</th>
      <th>Prefer age</th>
      <th>Equity type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.expertise %></td>
        <td><%= profile.seeking %></td>
        <td><%= profile.partner_role %></td>
        <td><%= profile.about %></td>
        <td><%= profile.experience %></td>
        <td><%= profile.prefer_age %></td>
        <td><%= profile.equity_type %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
