<div class="profile-show">
<div class="container">
<div class="center">
<p><h1><%= "Profile of #{@profile.user.name}" %></h1></p>
</div>
  <div class="row">
  <p id="notice"><%= notice %></p>
    <div class="col-md-6">
<div class="center">
 <%= image_tag(@profile.avatar(:medium)) %>
<strong>
<p>
  <strong>Expertise:</strong>
  <%= @profile.expertise %>
</p>

<p>
  <strong>Seeking:</strong>
  <%= @profile.seeking %>
</p>

<% if false %>
<% #Function to return option stored in the database from the hash map. %>
<% end %>
<p>
  <strong>To be my:</strong>
  <%= @profile.category.partner_role %>
  <%#= @profile.return_partner_role %>
  <%### Yo =@profile.partner_role %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>




</strong>

</div>
</div>
  <div class="col-md-6">
<div class="center">
<strong>

<p>
  <strong>Expertise:</strong>
  <%= @profile.expertise %>
</p>

<p>
  <strong>Seeking:</strong>
  <%= @profile.seeking %>
</p>

<% if false %>
<% #Function to return option stored in the database from the hash map. %>
<% end %>
<p>
  <strong>To be my:</strong>
  <%= @profile.category.partner_role %>
  <%#= @profile.return_partner_role %>
  <%### Yo =@profile.partner_role %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @profile.experience %>
</p>

<p>
  <strong>Prefer age:</strong>
  <%= @profile.prefer_age %>
</p>

<p>
  <strong>Equity type:</strong>
  <%= @profile.equity_type %>
</p>

</strong>

<%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-sml btn-primary" %> 
<%= link_to 'Back', profiles_path, class: "btn btn-sml btn-primary" %>
</div>
</div>
</div>
</div>
</div>
</div>